<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<p><small>&copy; kanté 2019 <a title="Avis clients pour les sites Web" href="https://www.webwiki.fr/mkantem.github.io"><img src="https://www.webwiki.fr/images/webwikibutton.gif" alt="Webwiki Marque de confiance" /></a></small></p>
	
		  <a href="http://sponsoredtweets.com/r/3MJU?utm_source=Referral&utm_medium=small-button&utm_campaign=The%2520Sponsorship%2520Marketplace">
 <img src="https://sponsoredtweets.com/ad-units/2/small-button.jpg" alt="Get Sponsored by Big Brands" class="center" style="border: 0 none !important;" border="0"/>
			 </a> 

		</div>
	<div class="col-sm-4">
	<p class="pull-right"><small><a href="/about" title="About this site">About this site</a></small></p>
	</div>
	 <p class="pull-right"><small><a href="subscribe.html" title="Subscribe via email">You can subcribe via email</a></small></p>	
	</div>
</div> <!-- /footer -->
