<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.publication }}"><a href="/" title="home">HOME</a></li>
		<li class="{{ page.publication }}"><a href="/publication" title="Publication">Research</a></li>
		<li class="{{ page.cv }}"><a href="/cv" title="CV">Resume</a></li>
		<li class="{{ page.notes }}"><a href="/notes" title="Notes">Notes</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Guodong Zeng</a></h3>
</div> <!-- /header -->  

