<div class="header">
	<ul class="nav nav-pills pull-right">
          <!--<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li> -->
		<!-- <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> -->
		<li class="{{ page.notes }}">{% include search-lunr.html %} </li>
		<li class="{{ page.notes }}"><a href="/notes" title="Posts">Blog</a></li>
		<li class="{{ page.contest }}"><a href="/contest" title="Contest">Contest</a></li>
		<li class="{{ page.about_me }}"><a href="/about_me" title="About me">About me</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Denis Bakhvalov</a></h3>
</div> <!-- /header -->
