---
layout: default
notes: active
---

<div class="notes">
		<div class="note single">
			<h1 class="title">{{ page.title }}</h1>
			
			<h2 class="date"><info datetime="{{ page.date }}">
				{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
			</info></h2>
			<!-- Post content -->
			<div class="notebody">
				{{ content }}
			</div>
			<!-- Post info -->
			<div class="noteinfo">
			<!-- include some categories and tags maybe? -->
			</div>

			<hr>

			<!-- Post comments -->
			<div class="notecomments">
				{% include disqus.html %}	 
			</div>
		</div><!-- / .note .single -->
</div><!-- /.notes -->
