// http://flexible-boxes.wstone.io/#~(1~(c~(~2)~t~'body~d~'column)~2~(t~'main~g~1~c~(~5~3))~3~(g~1~c~(~4)~t~'right~d~'column)~4~(g~1~t~'article~c~(~9~11~10)~d~'column)~5~(c~(~6)~t~'left~d~'column)~6~(t~'navigation~c~(~7~8)~d~'column)~7~(t~'home)~8~(t~'pages)~9~(t~'header)~10~(t~'footer)~11~(t~'content))
////////////////////////////////////
// imports
////////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600');
////////////////////////////////////
// reset
////////////////////////////////////
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
////////////////////////////////////
// typography
////////////////////////////////////
@mixin lato {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin rubik {
  font-family: 'Rubik', sans-serif;
}
@mixin overpass-mono {
  font-family: 'Overpass Mono', monospace;
}
// headings
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
// links
a {

}
////////////////////////////////////
// layout *mobile first*
////////////////////////////////////
height, body {
  height: 100%;
}

body {
  @include rubik;
  display: flex;
  flex-direction: column;
  color: #333;
}

.left {
  background-color: #E4E4E4;
  padding: 3rem 2rem;
  display: block;
  position: relative;

  ul {
    list-style: none;
    display: flex;

    li {
      margin-right: 1rem;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 .5rem;
}

.right {
  display: block;
  padding: 3rem 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
////////////////////////////////////
// formatting
////////////////////////////////////
.left {
  font-size: 1rem;
  a {
    text-decoration: none;
  }
  a.brand {
    font-size: 1.5rem;
    span {
      @include overpass-mono;
      display: block;
      font-size: .9rem;
      font-weight: 300;
    }
  }
  nav {
    a {
      margin: .5rem 0;
      text-transform: uppercase;
    }
    a:hover, a:active, a:focus {
      text-decoration: underline;
    }
  }
}

.right {
  header {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #E3E3E3;

    h1 {
      margin-bottom: .2rem;
    }

    p {
      @include overpass-mono;
      font-weight: 300;
    }
  }
  .content {
    h2, h3 {
      margin: 1rem 0;
    }
    h4, h5 {
      margin: 1rem 0;
    }
    p {
      margin: 1rem 0;
    }
    ul, ol {
      margin: 1rem 0;
    }
    li {
      margin-left: 2rem;
    }
    figure {
      margin: 1rem 0;
    }
    blockquote {
      margin: 1rem;
      padding-left: 1rem;
      border-left: 2px solid #e3e3e3
    }
  }
}
////////////////////////////////////
// screens
////////////////////////////////////
// screens larger than iphone landscape
@media only screen and (min-width: 768px) {

  body {
    margin-left: 15rem;
  }

  .container {
    flex-direction: row;
  }

  .left {
    padding: 3rem;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    margin-bottom: 0;
    width: 9rem;

    ul {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        margin: 0;
      }
    }
  }

  .navigation {
    margin: 2rem 0;
  }

  .right {
    padding: 3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

}
